head
  title wittylingo
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css2?family=Abel&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/static/css/styles.css')
  link(rel='icon' type='image/png' href='/static/png/apple-touch-icon.png')
.container-fluid
  .row
    .col-10
      .d-flex
        .person.flex-lg-fill.overflow-hidden(style='width: 50%; height: 50%;')
          video#localVideo.participantBox.box1(autoplay='')
          canvas#localCanvas
        .person.flex-lg-fill.overflow-hidden(style='width: 50%; height: 50%;')
          video#remoteVideo1.participantBox.box2(autoplay='')
          canvas#r1canvas
      .d-flex
        .person.flex-lg-fill.overflow-hidden
          video#remoteVideo2.participantBox.box3(autoplay='')
          canvas#r2canvas
        .person.flex-lg-fill.overflow-hidden
          video#remoteVideo3.participantBox.box4(autoplay='')
          canvas#r3canvas
    .col-2(style='height: 100vh;')
      .pt-3(style='text-align: center; border-bottom: 1px solid black;')
        h1#project-name Witty Lingo
        p.font-italic.text-left.pt-4
          | Teaching virtually holds challenges, but we can often fail to look at the potential benefits of such a
          | learning environment.
          | We aim to highlight this through this web application allowing students to video call each other and
          | practice their foreign language vocab words in a
          | fun video integrated game. Players can see everyone&apos;s words except their own and must work
          | collaboratively to work through the words.
      div
        div
          h5.p-2.order-1(style='border-bottom: 1px solid black;')
            | Settings
      .input-group.mb-3.pt-4
        span.input-group-text Server URI
        input#server-url.form-control(type='text' placeholder='http://127.0.0.1:4001')
      button#connect.btn(type='button') Connect to Server
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
script(src='/static/libs/js/face-api.min.js' type='text/javascript')
script(src='/static/js/client.js' type='text/javascript')
