:root {
    --background : #F4F3D8; 
    --primary: #E5A7B1;
    --secondary: #AFD3D5;
    --ternary: #CE5E82;
    --text-color: #1b1c25;
}

html, body { height: 100vh; padding: 0; margin: 0; 
    background: var(--background) !important;}

.video-mask{
    width: 50%;
}

video {
    object-fit: fill;
    object-position: 50% 50%;
    width: 40vw;
    min-width: 100%;
    height: 50vh !important;
    background-color: var(--secondary);
}
h1, h2, h3, h4, h5, h6, p, span, input {
    font-family: 'Abel', sans-serif;
}
.person{
    position: relative;
}

.box1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.box2 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.box3 {
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.box4 {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

#project-name {
    text-align: center;
    vertical-align: middle ;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.row > div {
    height: 100%;
}

div {
    flex: 1 0 auto;
}

#connect {
    vertical-align: middle;
    width: 100%;
    color: black;
    background-color: rgb(111, 209, 176);
    margin-top: 50vh;
}